# Command-Line Reference
#  https://bazel.build/reference/command-line-reference?hl=en
# build --enable_platform_specific_config

# use registered clang toolchain
build --incompatible_enable_cc_toolchain_resolution

# options
build --cxxopt -std=c++20
build --cxxopt -stdlib=libc++
build --linkopt -stdlib=libc++
# build --copt -fmodules
# build --copt -fno-implicit-modules
# build --copt -fbuiltin-module-map
